<nav class="top-header">
  <div class="logo">
    <img src="https://i.postimg.cc/44YQxk3v/nav.jpg" alt="Logo medieval" style="height: 30px; vertical-align: middle; margin-right: 8px;">
    <span>Biblioteca Medieval</span>
  </div>

  <div class="icons">
    <a routerLink="/">🏰 Inicio</a>
    <a routerLink="/books">📚 Libros</a>
    <a routerLink="/authors">🧙 Autores</a>
    <a routerLink="/info">🧾🏺 Géneros</a>
    <a routerLink="/subscription">📝 Suscripción</a>
    <a routerLink="/suggestions">💡 Sugerencias</a>
    <a routerLink="/favorites">❤️ Favoritos</a>
  </div>
</nav>
